# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Other
*.swp